@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display+SC:ital@1&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #b6c4cd;
}

.navbar {
    display: flex;
    justify-content: left;
    /* background-color: #a6daf8; */
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    height: 100px;
    margin-top: 0;
}

.circle {
    width: 90px; /* Adjust the width and height as needed */
    height: 80px;
    background-color: #f0f0f0; /* Circle background color */
    border-radius: 50%; /* Makes it a circle */
    /* display: flex; */
    align-items: left;
    justify-content: left;
    overflow: hidden; /* Clip the image to the circle */
    margin-left: 10px;
}

.circle img {
    width: 100%;
    height: auto;
    display: block;
}


.navbar-list {
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Add space between navigation items */
    /* margin-left: 20px; */
}

.navbar-item a {
    color: rgb(79, 78, 78);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s;
   
}

.navbar-item a:hover {
    color: white;
}

#logoname{
    margin-left:10px;
    color: goldenrod;
    font-family: 'Playfair Display SC', serif;
    font-size:xx-large;
    margin-right: 200px;

}
.navbar-item a.highlighted {
    background: linear-gradient(lightgrey,black); 
    color: white;
    padding: 10px 15px; 
    border-radius: 5px; 
}

.navbar-item a.highlighted:hover {
    color: blanchedalmond;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
