{% block title %}
Confirm Booking | Tour De Atlantis
{% endblock title %}

{%load static%}
{% block stylesheet %}
href="{% static 'css/BookingVerification.css' %}"
{% endblock stylesheet %}

{% block body %}
<div class="container">
  Guest name: {{username}}
  Check in : {{checkin}}
  Checkout : {{checkout}}
  Room type : {{roomtype}}
  Guest Count: {{guest_count}}
  price per night:{{price_per_night}}
  <br>
  Total price: {{totalprice}} 
  <div>
    <a class="btn btn-primary" href="#" role="button">Link</a>
  </div>
</div>
{% endblock body %}

