{% block title %}
Confirm Booking | Tour De Atlantis
{% endblock title %}

{%load static%}
{% block stylesheet %}
href="{% static 'css/BookingVerification.css' %}"
{% endblock stylesheet %}


{% block body %}
<div class="container">
  Guest name: {{username}}
  Check in : {{checkin}}
  Checkout : {{checkout}}
  Room type : {{roomtype}}
  Guest Count: {{guest_count}}
  price per night:{{price_per_night}}
  <br>
  Total price: {{totalprice}} 
  <div>
    <a class="btn btn-primary" href="#" role="button">Link</a>
  </div>
</div>
{% endblock body %}


    <script>
      const submitbtn = document.getElementById("submitBtn");
      submitbtn.addEventListener("onclick",showSummary());
        
      function showSummary() {
        const summaryContainer = document.getElementById("summaryContainer");
        const summaryContent = document.querySelector(".summary-content");

        // Gather form data
        const checkinDate = document.getElementById("checkin").value;
        const checkoutDate = document.getElementById("checkout").value;
        const roomType = document.getElementById("room_type").value;
        const Code = document.getElementById("Offers").value;

        const guestDetails = [];
        for (let i = 1; i <= guestCountInput.value; i++) {
            const guestName = document.getElementById(guest_name${i}).value;
            const guestEmail = document.getElementById(guest_email${i}).value;
            guestDetails.push({ Name: guestName, Email: guestEmail });
        }

        const summaryHTML = `
         
                ${guestDetails.map(guest => <li><strong>Name:</strong> ${guest.Name}, <strong>Email:</strong> ${guest.Email}</li>).join('')}
            </ul>
        `;

        summaryContent.innerHTML = summaryHTML;
        summaryContainer.style.display = "block";
        document.getElementById("mainForm").style.display = "none";
    }

    </script>
  </body>
  </html>

