{% extends "base.html" %}
{% load static %}


{% block title %}
Gallery | Tour De Atlantis
{% endblock title %}



{% block stylesheet%}
href="{% static 'css/gallery.css' %}" 
{% endblock stylesheet %}


{% block body %}
<div class="container">
  <div class="slider-wrapper">
    <button id="prev-slide" class="slide-button material-symbols-outline">
      <img src="left.png" alt="Previous Slide" class="slider-button-image" />
    </button>
    <ul class="image-list">
      <img class="image-item" src="images/gallery1.jpeg" alt="img-1" />
      <img class="image-item" src="images/gallery2.jpeg" alt="img-2" />
      <img class="image-item" src="images/gallery3.jpeg" alt="img-3" />
      <img class="image-item" src="images/gallery4.jpeg" alt="img-4" />
      <img class="image-item" src="images/gallery5.jpeg" alt="img-5" />
      <img class="image-item" src="images/gallery6.jpeg" alt="img-6" />
      <img class="image-item" src="images/gallery7.jpeg" alt="img-7" />
      <img class="image-item" src="images/gallery8.jpeg" alt="img-8" />
      <img class="image-item" src="images/gallery9.jpeg" alt="img-9" />
      <img class="image-item" src="images/gallery10.jpeg" alt="img-10" />
    </ul>
    <button id="next-slide" class="slide-button material-symbols-rounded">
      <img src="right.png" alt="Next Slide" class="slider-button-image" />
    </button>
  </div>
  <div class="slider-scrollbar">
    <div class="scrollbar-track">
      <div class="scrollbar-thumb"></div>
    </div>
  </div>
  <div class="hotel-name">
    <span><b>Tour De Atlantis, Goa, India</b></span>
  </div>
  <div class="contact-label">
    <span><b>Contact us at:</b></span>
  </div>
  <div class="contact-info">
    <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <span>Bardez, Near Baga Beach, Goa, Maharashtra</span>
    </div>
    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <span>+91 522-6711000</span>
    </div>
    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <span><u>tourdeatlantis.goa@hotels.com</u></span>
    </div>
  </div>
</div>
{% endblock body %}
