<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot_Application</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
    <section class="header">
        <nav class="navbar">
            <div class="circle">
                <img src="images/poseidon.png" alt="Hotel logo">
            </div>
            <ul class="navbar-list">
                <li class="navbar-item"><a href="/" id="logoname">TOUR De ATLANTIS</a></li>
                <li class="navbar-item"><a href="/">ABOUT</a></li>
                <li class="navbar-item"><a href="/rooms">ROOMS</a></li>
                <li class="navbar-item"><a href="/blogs">BLOGS AND REVIEWS</a></li>
                <li class="navbar-item"><a href="/offers">SPECIAL OFFERS</a></li>
                <li class="navbar-item"><a href="/">RESERVATIONS</a></li>
                <li class="navbar-item"><a href="#" class="highlighted">LOGOUT</a></li>
            </ul>
        </nav>


        <!-- Alert shown here... Shows when Error/Success in Signup... Put it properly -->
        {% if messages %}
				  {% for message in messages %}
				  <div class="text" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  {% endfor %}
				  {% endif %}
</section>
<br><br>




    <form method="post" action="/signup">
        {% csrf_token %}
        <h1>REGISTER</h1>
        <div class="text">
            <input type="text" name="name" placeholder="Name"> 
        </div>
        <div class="text">
            <input type="text" name="email" placeholder="Email"> 
        </div>
        <div class="text">
            <input type="text" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Register" class="login">
        <br><br>
        <div class="su">
            Already have an account?
        </br>
        <a href="/signin">Log in</a>
        </div>
    </form>
    
</body>
</html>